@import "tailwindcss";

/* globals.css */
@font-face {
  font-family: 'saurav';
  src: url('/fonts/saurav.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'saurav2';
  src: url('/fonts/saurav2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.text1 {
  font-family: 'saurav', sans-serif;
}

.text2 {
  font-family: 'saurav2', sans-serif;
}

/* .hero{
  background-image: linear-gradient(cyan,white , white );
} */
